<h1><%= @vendor.name %></h1>

<h2>Sweets Carried </h2><br>
<ul>
  <% @vendor.sweets.each do |sweet| %>
    <li> <%= sweet.name %></li>
  <% end %>
</ul>

<ul>
  <% @vendor.vendor_sweets.each do |vs| %>
    <li> <%= vs.comment %></li>
  <% end %>
</ul>

<% if @vendor_sweet.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@vendor_sweet.errors.count, "error") %> prohibited this sweet from being added:</h2>
    <ul>
      <% @vendor_sweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h2>Add Sweet to This Vendor</h2>
<%= form_for @vendor_sweet do |f| %>
  <%= f.hidden_field :vendor_id, value: @vendor.id %>

  <div>
    <%= f.label :sweet_id, "Select Sweet" %><br>
    <%= f.collection_select :sweet_id, Sweet.all, :id, :name %>
  </div>

  <div>
    <%= f.label :comment, "Comment" %><br>
    <%= f.text_area :comment %>
  </div>

  <div>
    <%= f.submit "Add Sweet" %>
  </div>
<% end %>
